<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <style media="screen">
  .margin{
    margin-left: 200px;
    border-left:2px solid;
    padding-left:100px;
    width:400px;
  }
      .two{
        margin-left:400px;

      }
    </style>
  </head>
  <body>
    <div class="margin">
      <h1>Header1</h1>
      <h2>Header2</h2>
    </div>

    <div class="margin two">
    To achieve this result, it is fundamental to know typography and its history. The computer has become an essential tool but its undisputed utility and versatility cannot replace knowledge. As extraordinary as this instrument can be, you need deep roots and the ability to express yourself even with the simplest tools—such as a pencil—in order to use it correctly.
    </div>

    <div class="margin two">
    To achieve this result, it is fundamental to know typography and its history. The computer has become an essential tool but its undisputed utility and versatility cannot replace knowledge. As extraordinary as this instrument can be, you need deep roots and the ability to express yourself even with the simplest tools—such as a pencil—in order to use it correctly.
    </div>

      </div>
    </body>
</html>
